textarea {
    width:100%;
}

#padding {
  margin: auto;
  width: 98%;
  display:block;
  height:50px;
  background-color:white;
  visibility:hidden;
}

#chart {
  height: 800px;
}

#control {
  visibility: hidden;
}

#dashboard {
  display:block;
  visibility: hidden;
  height: auto;
}

#filename {
  margin-left: 10px;
  font-style: italic
}

.main-body {
  margin: auto;
  width: 98%
}
